div.button-list, div.form-split {
  padding-top: 0.5%;
  padding-bottom: 0%;
}

div.panel.panel-default{
  padding-left:0.5%;
  padding-right:0.5%;
  padding-bottom: 0.5%;
}

.radio-form,.checkbox-form{
  position: relative;
  display: inline-block;
  font-weight: normal;
  width: 33.33%;
  vertical-align: middle;
  margin-bottom: 0;
  cursor: pointer;
}

input.form-check-input.radio-form,input.form-check-input.checkbox-form{
  margin: 0;
  margin-right: 5px;
  vertical-align: middle;
  width: auto;
}

input.form-control.form-half,select.form-half.selectpicker{
  display: inline-grid;
  width: 49%;
}

button.btn.col-md-2.col-sm-4.col-xs-12.row-button{
  margin-bottom: 5px;
}

td.rowname{
  font-style: italic;
}

td.active-row{
  background-color: red;
}

.checkbox-inline{
  margin-top: 2%;
}

.detail-photo{
  float:left;
  width:50%;
  height:100%;
  object-fit:cover;
  border-radius: 5%;
  padding:1%;
}
